<h1>Welcome to CarSpa</h1>

<div class="container">
        

    <div class="row">
        <div class="aa col-md-6 text-justify" color:white>
            A car wash or auto wash is a facility used to clean the exterior and, in some cases, the interior of motor
            vehicles. Car washes can be self-serve, fully automated, or full-service with attendants who wash the
            vehicle. It may also be an event where people pay to have their cars washed by volunteers as a method to
            raise money for some purpose.
            <div></div>
            <div></div>
            With the modern convenience of automatic car washes, it may be difficult to remember that the industry was
            not always so high-tech. Though, other commercial car washes came before it, the first semi-automatic car
            wash in the United States made its debut in 1946, and from there, the industry has grown in both size and
            sophistication.
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <img src="assets\car2.jpg" alt="" class="mx-auto d-block" width="540" height="370">
            </div>
        </div>
    </div>
</div>